/* based off FF8200 */

/* SCSS HEX */
$orange: #ff8200ff;
$eggplant: #493843ff;
$polished-pine: #61988eff;
$ash-gray: #a0b2a6ff;
$warm-black: #004346ff;

/* SCSS HEX */
$orange: #ff8200ff;
$outer-space-crayola: #283d3bff;
$skobeloff: #197278ff;
$liver-organ: #772e25ff;
$lavender-blush: #eee5e9ff;

