@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Raleway:wght@500&display=swap');

/* based off FF8200 */

/* SCSS HEX */
$orange: #ff8200ff;
$eggplant: #493843ff;
$polished-pine: #61988eff;
$ash-gray: #a0b2a6ff;
$warm-black: #004346ff;

/* SCSS HEX */
$orange: #ff8200ff;
$outer-space-crayola: #283d3bff;
$skobeloff: #197278ff;
$liver-organ: #772e25ff;
$lavender-blush: #eee5e9ff;

$border: $lavender-blush;

body {
    background-color: #FFFFFA;
    a {
       color: $orange;
    }
}

#myResume {
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    max-width: 800px;
    padding-bottom: 40px;
    img {
        width: 100%;
    }
    header {
        border-bottom: 1px solid black;
        height: 75px;
        padding-bottom: 10px;
        h2 {
            font-family: 'Mate SC', sans-serif;
            font-size: 2.2em;
            margin-bottom: 0;
        }
        .face {
            border: 1px solid black;
            float: left;
            margin: -15px 20px 10px 0;
            width: 80px;
        }
        .identities {
            margin: 5px 0 40px 15px;
            list-style-type: none;
            li {
                float: left;
            }
        }
        .specialties {
            margin: 5px 0 40px 15px;
            padding: 10px 0;
            list-style-type: none;
            li {
                float: right;
            }
        }
    }
    .tags {
        margin: 5px 0 40px 15px;
        list-style-type: none;
        li {
            border: 1px solid gray;
            border-radius: 5px;
            float: left;
            margin: 5px;
            padding: 5px;
        }
    }
    section {
        margin-bottom: 30px;
        &.work-experience {
            clear: right;
            margin-top: 2em;
            .job {
                border: 1px solid lighten($color: #000000, $amount: 89);
                margin: 10px 0;
                padding: 5px 20px;
                h4 {
                    font-size: 1.2em;
                    &:first-of-type {
                        float: right;
                    }
                }
            }
            ul {
                list-style-type: none;
                padding-left: 0;
            }
        }
        h2 {
            padding-bottom: 0;
        }
    }
    #about { 
        border: 1px solid lighten($color: #000000, $amount: 89);
        margin: 10px 0;
        padding: 5px 20px;
        h4 {
            font-size: 1.2em;
            &:first-of-type {
                float: right;
            }
        }
    }
    #grandmas {
        margin-top: 20px;
        margin-bottom: 200px;
    }
}


