body {
    background-color: aqua;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    width: 80%;
    h2 {
        font-family: 'Mate SC', sans-serif;
        font-size: 40px;
    }
    img {
        width: 100%;
    }
    header {
        border-bottom: 1px solid black;
        height: 100px;
        padding-bottom: 10px;
        .face {
            border: 1px solid black;
            float: left;
            margin: -15px 10px 10px 0;
            width: 10%;
        }
    }
}
